// ヘッダー
header {
  width: 100%;
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  color: black;
  position: sticky;
  z-index: 2000;

  // ナビゲーション
  .header-navi-contents {
    width: 494px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    line-height: 17px;
  }

  // SNSのアイコン
  .header-sns-icons {
    width: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
  }

  // ヘッダーのロゴ
  .header-logo {
    width: 170px;
    height: 26.66px;
  }
}
