.page-title {
  font-family: $montserrat;
  color: transparent;
  font-size: 120px;
  font-weight: 400;
  line-height: 40px;
  -webkit-text-stroke: 1px $text-beige;
  position: absolute;
  top: -90px;
  left: -240px;
}

.how-to-use-wrapper {
  width: 1118px;
  margin: 0 auto;
  margin-top: 252px;
  position: relative;

  .how-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.2rem;
  }

  // ご利用方法の内容
  .how-to-use-contents {
    width: 1118px;

    // トライアル利用
    .trial-use {
      .trial-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 43.44px;
        letter-spacing: 0.2rem;
        color: $text-beige;
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: 128px;
      }
      .trial-title::before {
        content: "";
        width: 60px;
        margin-right: 7px;
        border-top: 3px solid $text-beige;
      }

      // トライアル利用のステップ
      .trial-steps {
        margin-top: 72px;
        display: grid;
        // 行の高さ
        grid-template-rows: 544px 544px;
        // 列の幅
        grid-template-columns: 334px 334px 334px;
        // 空間　縦と横
        gap: 90px 58px;

        // grid-template-areas:
        //   ". . ."
        //   ". . .";

        .trial-step {
          width: 334px;
          // ステップの番号
          .step-number {
            font-weight: 700;
            font-size: 26px;
            line-height: 23px;
            color: $text-beige;
          }
          // ステップのタイトル
          .step-title {
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            margin-top: 20px;
          }

          // ステップのイメージ
          .step-image {
            width: 334px;
            height: 244px;
            margin: 30px 0;
          }

          .step-sentence {
            font-size: 18px;
            line-height: 28px;
            width: 100%;
          }

          .step-line-friends {
            margin-top: 30px;
          }

          // LINEをお持ちでない方
          .no-line-user {
            width: 354px;
            height: 357px;
            background-color: $back-beige;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .no-line-title {
              width: 323px;
              font-size: 26px;
              font-weight: 700;
              line-height: 23px;
              text-align: center;
              padding-top: 54px;
            }

            .no-line-sentence {
              width: 323px;
              font-size: 21px;
              line-height: 33px;
              text-align: center;
              margin-top: 34px;
            }

            .reserve-link {
              width: 289px;
              height: 60px;
              background-color: $text-black;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 auto;
              margin-top: 34px;
            }
          }
        }
      }
    }

    // メンバー利用
    .member-use {
      .member-use-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 43.44px;
        letter-spacing: 0.2rem;
        color: $text-beige;
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: 128px;
      }
      .member-use-title::before {
        content: "";
        width: 60px;
        margin-right: 7px;
        border-top: 3px solid $text-beige;
      }

      // メンバー利用のステップ
      .member-use-steps {
        margin-top: 72px;
        padding-bottom: 150px;
        display: grid;
        // 行の高さ
        grid-template-rows: 510px;
        // 列の幅
        grid-template-columns: 334px 334px 334px;
        // 空間　縦と横
        gap: 90px 58px;

        .member-step {
          width: 334px;
          // ステップの番号
          .member-number {
            font-weight: 700;
            font-size: 26px;
            line-height: 23px;
            color: $text-beige;
          }
          // ステップのタイトル
          .member-title {
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            margin-top: 20px;
          }

          // ステップのイメージ
          .member-image {
            width: 334px;
            height: 244px;
            margin: 30px 0;
          }

          .member-sentence {
            font-size: 18px;
            line-height: 28px;
            width: 100%;
          }
        }
      }
    }
  }
}
