// デスクトップ用ヘッダー
@media screen and (min-width: 1150px) {
  .header-smartphone {
    display: none;
  }

  .header-desktop {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    color: black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    font-size: 0.9rem;
    white-space: nowrap;
    gap: 4%;

    #menu-btn-check {
      display: none;
    }
    // ヘッダー左側（ロゴとナビ）
    .header-left {
      display: flex;
      align-items: center;
      // gap: 50px;

      // ヘッダーのロゴ
      .header-logo img {
        width: 170px;
        height: 31px;
        // object-fit: cover
      }
    }

    // ヘッダーの右側
    .header-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      position: fixed;
      right: 0;

      // ナビゲーション
      .header-navi-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        line-height: 17px;
        font-size: 18px;
      }

      a {
        transition: 0.2s;
      }

      a:hover {
        opacity: 0.7;
      }

      .header-sns-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: nowrap;

        img {
          width: 25px;
        }
      }

      .header-reserve-links {
        display: flex;

        img {
          height: 26%;
          object-fit: cover;
        }
      }

      .header-line {
        width: 160px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #06c755;
      }

      .header-contact-us {
        width: 160px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #483b19;

        img {
          height: 22%;
        }
      }
    }
  }
}

@media screen and (max-width: 1149px) {
  .header-desktop {
    display: none;
  }

  .header-smartphone {
    height: 92px;
    width: 100%;
    // min-width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    padding-left: 20px;

    // ロゴのサイズを変更
    .header-logo img {
      width: 130px;
      height: 20.39px;
    }

    .header-humberger {
      width: 100%;
      height: 100%;
    }

    .menubtn {
      width: 100%;
      z-index: 3000;
      position: fixed;
      top: 20px;
      left: 80%;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;

      span,
      span:before,
      span:after {
        content: "";
        display: block;
        height: 1px;
        width: 25px;
        border-radius: 3px;
        background-color: $text-black;
        position: absolute;
        z-index: 1000;
      }

      span:before {
        bottom: 8px;
        transform: rotate(0);
        transition: 0.4s;
      }

      span:after {
        top: 8px;
        transform: rotate(0);
        transition: 0.4s;
      }
    }

    #menu-btn-check:checked ~ .menubtn span {
      background-color: rgba(
        255,
        255,
        255,
        0
      ); /*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menubtn span::before {
      bottom: 0;
      transform: rotate(45deg);
      background-color: white;
      filter: brightness(1) invert(0);
      transition: 0.5s;
    }
    #menu-btn-check:checked ~ .menubtn span::after {
      top: 0;
      transform: rotate(-45deg);
      background-color: white;
      filter: brightness(1) invert(0);
      transition: 0.5s;
    }

    #menu-btn-check {
      display: none;
    }

    .hide-menu {
      width: 100%;
      height: 100%;
      z-index: 300;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: $back-beige2;
    }

    nav {
      background-color: $back-beige2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000px;
      z-index: 100;
    }

    .hide-contents {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      margin-top: 65px;

      .menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
        line-height: 17px;
        gap: 30px;
      }

      .humberger-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 15%;
      }

      // LINE予約
      .sm-nav-line {
        width: 260px;
        height: 50px;
        background-color: #06c755;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
      }

      // ネット予約
      .sm-nav-web-reserve {
        width: 260px;
        height: 50px;
        background-color: #f13529;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      // お問い合わせ
      .sm-nav-contact-us {
        width: 260px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #483b19;
      }

      .sm-nav-sns {
        font-family: $montserrat;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin-top: 35px;

        .sm-nav-sns-icons {
          width: 153px;
          display: flex;
          justify-content: space-between;
          margin-top: 12px;

          img {
            width: 26px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
