@media screen and (min-width: 601px) {
  // ファーストビューの部分
  .top-section {
    width: 100%;

    // ファーストビュー画像
    .first-view-images {
      // 左右に余白
      // width: 1480px;
      // 横100%で表示
      width: calc(100% - 120px);
      height: 733px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      // とりあえずの写真
      background-image: url(../images/golferstop-img01.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .first-top-image {
      position: absolute;
      width: 100%;
      height: 733px;
      left: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    // それぞれのスライド画像
    .first-image {
      z-index: 100;
      width: 100%;
      height: 733px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: zoomUP;
      // background-image: url(../images/top-abobe.jpeg);
    }

    .first-view-images {
      @keyframes zoomUp {
        /* 1.15倍させる指定 */
        0% {
          // -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% {
          // -webkit-transform: scale(1.25);
          transform: scale(1.15);
        }
      }

      .swiper-slide {
        overflow: hidden;
        // -webkit-backface-visibility: hidden;
        // backface-visibility: hidden;
      }

      .swiper-slide-active .slide-img,
      .swiper-slide-duplicate-active .slide-img,
      .swiper-slide-prev .slide-img {
        animation: zoomUp 16s linear 0s 1 normal both;
        animation-fill-mode: both;
      }

      .slide-img {
        background-size: cover;
        background-position: center center; /* 背景画像は中央を軸に表示させる */
        // height: 733px; /* 600pxの高さで表示させる */
      }

      // ファーストビューのニュースのスライド
      .sm-first-news-wrapper {
        display: none;
      }

      .first-news-wrapper {
        width: 920px;
        height: 80px;
        z-index: 3000;
        margin: 613px 280px 30px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        transform: translateY(-10px);
        z-index: 200;
        position: absolute;
        left: 0;
        top: 0;

        .first-news-title {
          width: 110px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $montserrat;
          font-size: 14px;
          line-height: 17.07px;
          letter-spacing: 0.1rem;
          font-weight: 700;
        }

        .swiper {
          width: 810px;
          display: flex;
        }
      }

      .first-news {
        width: 100%;
        height: 80px;

        .swiper-slide {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        // ニュースの情報
        .news-contents {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          // padding-left: 37px;

          .news-tag {
            font-family: $montserrat;
            font-weight: 700;
            font-size: 14px;
            line-height: 17.07px;
            letter-spacing: 0.1rem;
            margin-right: 38px;
          }

          .news-date {
            font-family: $montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 17.07px;
            letter-spacing: 0.1rem;
            margin-right: 42px;
          }

          .news-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 17.07px;
            display: flex;
            align-items: center;
          }
        }

        .swiper-buttons {
          display: flex;
          // margin-left: 10px;
          // flex-direction: row-reverse;
        }

        .swiper-button-prev {
          transform: translateX(600px);
          width: 81px;
          background-color: white;
          display: flex;
          justify-content: flex-start;
        }

        .swiper-button-next {
          transform: translateX(10px);
          width: 140px;
          background-color: white;
          // padding-left: 20px;
          display: flex;
          justify-content: flex-start;
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
          font-weight: 900;
          font-size: 18px;
          color: $text-black;
        }

        .swiper-button-prev::after {
          padding-left: 50px;
        }

        .swiper-button-next::after {
          padding-left: 30px;
        }
      }
    }

    // トップ画像右下のコンタクトアス
    @keyframes rotation {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .contact-us {
      position: absolute;
      top: 573px;
      // 余白ありのバージョン
      left: 1320px;
      // 余白なしのバージョン
      left: 85%;
      z-index: 100;
    }

    .contact-us-text {
      animation: 14s linear infinite rotation;
      position: relative;
    }

    .contact-us-mail {
      position: absolute;
      top: 33%;
      left: 30%;
    }
  }

  // トップ画像下のGOLFERS24紹介部分
  .top-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0 100px;
    margin: 150px 0;

    @keyframes sliden {
      0% {
        clip-path: inset(0 100% 0 0);
      }
      100% {
        clip-path: inset(0);
      }
    }

    // 文章部分
    .top-introduction-text {
      color: $text-gray;
      width: 693px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 40px;
    }

    .top-introduction-title {
      font-family: $noto-serif;
      font-size: 40px;
      line-height: 70px;
      font-weight: 300;
    }

    .top-introduction-sentence {
      line-height: 50px;
    }

    .top-introduction-image {
      width: 647px;
      height: 680px;

      img {
        width: 647px;
        height: 680px;
        object-fit: cover;
        transition: all 0.9s;
      }
    }
  }

  // GOLFERS24の特徴
  .second-section {
    width: 100%;
    height: 4275px;
    background-color: $back-beige;

    .second-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      padding-top: 100px;
      color: $text-gray;
    }

    .sm-second-section-features {
      display: none;
    }

    .second-section-features {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 100px auto 200px;
      gap: 100px;
      padding: 0 185px;
      color: $text-black;

      // 特徴
      .feature {
        width: 1480px;
        height: 687px;
        display: flex;
        justify-content: center;
        align-items: center;

        .feature-text-wrapper {
          width: 597px;
          height: 575px;
          position: relative;
          z-index: 1;

          // 特徴のテキストボックス（奇数）
          .feature-text-box {
            width: 597px;
            height: 575px;
            background-color: $back-beige;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            z-index: 300;
            transform: translateX(80px);

            // 特徴のタイトル
            .feature-title {
              width: 527px;
              font-family: $noto-serif;
              font-size: 28px;
              font-weight: 300;
              line-height: 40px;
            }

            .feature-sentence {
              width: 512px;
              line-height: 50px;
              margin-top: 60px;
            }
          }
        }

        .feature-image {
          width: 800px;
          height: 687px;
          transform: translateX(-80px);
        }
      }

      // 特徴を交互に表示
      .feature:nth-of-type(even) {
        flex-direction: row-reverse;

        .feature-text-wrapper {
          width: 597px;
          height: 575px;
          position: relative;
          z-index: 1;

          // 特徴のテキストボックス（偶数）
          .feature-text-box {
            width: 597px;
            height: 575px;
            background-color: $back-beige;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            z-index: 300;
            padding-left: 85px;
            transform: translateX(-80px);

            // 特徴のタイトル
            .feature-title {
              width: 527px;
              font-family: $noto-serif;
              font-size: 28px;
              font-weight: 300;
              line-height: 40px;
            }

            .feature-sentence {
              width: 512px;
              line-height: 50px;
              margin-top: 60px;
            }
          }
        }
        .feature-image {
          width: 800px;
          height: 687px;
          transform: translateX(80px);
        }
      }
    }
  }

  // ご利用の流れ
  .third-section {
    width: 100%;
    height: 342px;
    background: linear-gradient(100.96deg, #a59c84 28.49%, #736755 81.36%);
    display: flex;
    justify-content: center;
    align-items: center;

    .third-section-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .third-section-how-to-use-text {
      color: white;

      .how-to-use-title {
        font-family: $noto-serif;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
      }

      .sm-how-to-use-sentence {
        display: none;
      }

      .how-to-use-sentence {
        font-family: $noto-serif;
        font-size: 23px;
        font-weight: 300;
        line-height: 40px;
        line-height: 50px;
        text-align: center;
      }
    }

    .third-section-how-to-use-image {
      display: none;
    }

    .third-section-arrow-wrapper {
      padding-bottom: 120px;
      width: 342px;
      // padding-left: 20px;
      position: relative;

      p {
        font-weight: 400;
        line-height: 19.5px;
        letter-spacing: 0.1rem;
        color: white;
        transform: translate(20px, 20px);
      }
    }

    // ご利用の流れ・体験予約はこちらボタンの矢印
    .third-section-how-to-use-arrow {
      width: 157px;
      height: 20px;
      border-bottom: 2px solid white;
      border-right: 2.3px solid white;
      transform: skew(45deg);
      transition: 0.6s;
      position: absolute;
      left: 697px;
      top: 33%;
    }
    .third-section-how-to-use-arrow:hover {
      width: 257px;
    }

    // ご利用の流れ・体験予約はこちらボタン
    .third-section-how-to-use-button {
      width: 780px;
      height: 100px;
      border-radius: 2px;
      color: white;
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 30px;
      line-height: 40px;
      // background: linear-gradient(to left, $back-darkbrown, #3f3314);
      background-color: $back-darkbrown;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 18px;
      position: relative;
    }
  }

  // 店舗一覧
  .forth-section {
    width: 100%;
    .forth-section-list-of-stores {
      padding-top: 126px;
      // 店舗一覧タイトル
      .forth-section-stores-title {
        font-family: $noto-serif;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        position: relative;
      }

      .forth-section-stores-title::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        top: 188px;
        width: 1px;
        height: 90px;
        margin: auto;
        background-color: $text-gray;
      }
    }
    // 店舗一覧
    .forth-section-stores {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 58px;
      margin-top: 178px;

      .forth-section-store {
        width: 334px;
        height: 356px;

        .forth-section-store-image img {
          width: 334px;
          height: 242px;
        }

        .forth-section-store-infomation {
          margin-top: 33px;

          .forth-section-store-name {
            height: 45px;
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            text-align: center;
          }

          .forth-section-store-address {
            font-size: 14px;
            line-height: 23px;
            margin-top: 14px;
          }
        }
      }
    }

    .forth-section-view-more {
      width: 182px;
      height: 50px;
      margin: 122px auto 200px;
      transition: 0.5s;
    }

    .forth-section-view-more:hover {
      opacity: 0.7;
    }
  }

  // NEWS
  .fifth-section {
    height: 969px;
    background-color: $back-beige;

    .fifth-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 40px;
      line-height: 40px;
      padding-top: 126px;
      text-align: center;
      position: relative;
    }

    .fifth-section-title::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      top: 314px;
      width: 1px;
      height: 90px;
      margin: auto;
      background-color: $text-gray;
    }

    .fifth-section-list-of-news {
      width: 1016px;
      margin: 0 auto;
      margin-top: 172px;

      .fifth-section-news {
        width: 100%;
        height: 96px;
        display: flex;
        align-items: center;
        gap: 94px;
        border-bottom: 1px solid $line-gray3;

        .fifth-section-news-date {
          font-family: $montserrat;
          line-height: 19.5px;
          letter-spacing: 0.2rem;
        }

        .fifth-section-news-content {
          line-height: 23.17px;
        }
      }

      .list-of-news {
        border-top: 1px solid $line-gray3;
      }
    }

    .fifth-section-view-more {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 102px;
      transition: 0.5s;
    }

    .fifth-section-view-more:hover {
      opacity: 0.7;
    }
  }

  // SNS
  .sixth-section {
    height: 288px;
    background-color: $back-khaki;
    color: white;

    .sm-sixth-section-follow-message {
      display: none;
    }

    .sixth-section-follow-message {
      font-size: 20px;
      line-height: 50px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 68px;
      padding-bottom: 43px;
    }

    .sixth-sns-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 21px;

      .sixth-sns-button {
        width: 282px;
        height: 50px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $montserrat;
        font-weight: 600;
        line-height: 19.5px;

        p {
          width: 176.64px;
          height: 20px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 23px;
          height: 23px;
          transform: translateY(-2%);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  // ファーストビューの部分
  .top-section {
    width: 100%;

    // トップ画像右下のコンタクトアス
    @keyframes rotation {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .contact-us {
      position: absolute;
      top: 380px;
      left: 65%;
      z-index: 1;
      transform: scale(0.7);
    }

    .contact-us-text {
      animation: 14s linear infinite rotation;
      position: relative;
    }

    .contact-us-mail {
      position: absolute;
      top: 33%;
      left: 30%;
    }

    // ファーストビューのニュースのスライド
    .first-news-wrapper {
      display: none;
    }
    .sm-first-news-wrapper {
      width: 89%;
      height: 160px;
      margin: 520px 20px 20px;
      background-color: white;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding-left: 30px;
      position: relative;
      z-index: 20;

      .first-news-title {
        font-family: $montserrat;
        font-size: 14px;
        line-height: 17.07px;
        letter-spacing: 0.1rem;
        font-weight: 700;
        margin-top: 30px;
      }

      .swiper-block {
        position: absolute;
        background-color: white;
        height: 160px;
        width: 30px;
        z-index: 2;
        left: 0;
        top: 0;
      }

      .swiper-wrapper {
        position: absolute;
        top: 50px;
      }

      .first-news {
        width: 100%;
        height: 160px;

        // ニュースの情報
        .news-contents {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 13px;
          margin-top: 18px;

          .news-date {
            font-family: $montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 17.07px;
            letter-spacing: 0.1rem;
            margin-right: 42px;
          }

          .news-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 17.07px;
            display: flex;
            align-items: center;
          }
        }

        .swiper-button-prev {
          // transform: translate(220px, -40px);
          position: absolute;
          top: 25%;
          left: 75%;
        }

        .swiper-button-next {
          position: absolute;
          top: 25%;
          right: 9%;
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
          font-weight: 900;
          font-size: 18px;
          color: $text-black;
        }
      }
    }

    // ファーストビュー画像
    .first-view-images {
      width: 100%;
      height: 700px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      background-image: url(../images/top-abobe.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .first-top-image {
      position: absolute;
      width: 375px;
      height: 700px;
      top: 0;
      left: 0;
    }

    .first-view-images {
      @-webkit-keyframes zoomUp {
        0% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% {
          -webkit-transform: scale(1.15);
          transform: scale(1.15);
        }
      }

      @keyframes zoomUp {
        /* 1.15倍させる指定 */
        0% {
          // -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% {
          // -webkit-transform: scale(1.25);
          transform: scale(1.15);
        }
      }

      .swiper-slide {
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .swiper-slide-active .slide-img,
      .swiper-slide-duplicate-active .slide-img,
      .swiper-slide-prev .slide-img {
        animation: zoomUp 12s linear 0s;
        animation-fill-mode: both;
      }

      .slide-img {
        background-size: cover;
        background-position: center center; /* 背景画像は中央を軸に表示させる */
        height: 733px; /* 600pxの高さで表示させる */
      }
    }

    // それぞれのスライド画像
    .first-image {
      z-index: 10;
      width: 100%;
      height: 700px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .contact-us {
      // display: none;
    }
  }

  //imgタグだと下に隙間ができるのでblockに。
  .slide-img img {
    display: block;
  }

  // トップ画像下のGOLFERS24紹介部分
  .top-introduction {
    width: calc(100% - 40px);
    height: 1392px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
    background-color: white;
    margin: 0 auto;

    // 文章部分
    .top-introduction-text {
      color: $text-gray;
      // width: 335px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .top-introduction-title {
      font-family: $noto-serif;
      font-size: 30px;
      line-height: 60px;
      font-weight: 300;
    }

    .top-introduction-sentence {
      line-height: 40px;
      margin-top: 20px;
    }

    .top-introduction-image img {
      width: 100%;
      height: 352px;
      margin-top: 60px;
      object-fit: cover;
      max-width: 0 auto;
    }
  }

  // GOLFERS24の特徴
  .second-section {
    width: calc(100% -40px);
    height: 100%;
    background-color: $back-beige;

    .second-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      padding-top: 113px;
    }

    .second-section-features {
      display: none;
    }

    .sm-second-section-features {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-black;

      .swiper {
        padding-bottom: 180px;
      }

      // .swiper-slide {
      //   width: 200px;
      //   height: 200px;
      //   background-color: $back-beige2;
      //   position: relative;
      // }

      .swiper-pagination {
        position: absolute;
        top: 655px;
      }

      // Swiperのbulletの間隔
      .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
      .swiper-pagination-horizontal.swiper-pagination-bullets
        .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 14px);
      }

      // 特徴
      .feature {
        width: 100%;
        height: 535px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: $back-beige;
        margin-top: 100px;

        .feature-text-wrapper {
          width: 100%;

          // 特徴のテキストボックス
          .feature-text-box {
            width: calc(100% - 40px);
            background-color: $back-beige;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            // 特徴のタイトル
            .feature-title {
              height: 60px;
              font-family: $noto-serif;
              font-size: 18px;
              font-weight: 300;
              line-height: 30px;
              text-align: center;
              margin: 0 auto;
            }

            .feature-sentence {
              width: 90%;
              height: 190px;
              font-size: 12px;
              line-height: 23px;
              margin: 0 auto;
              margin-top: 20px;
              display: flex;
              justify-content: center;
            }
          }
        }

        .feare-image {
          width: calc(100% - 40px);
        }

        .feature-image img {
          width: 335px;
          height: 240px;
          object-fit: cover;
          margin-top: 30px;
        }
      }
    }
  }

  // ご利用の流れ
  .third-section {
    width: 100%;
    height: 497px;
    background-color: #a59c84;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    .third-section-how-to-use-text {
      margin-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      color: white;

      .how-to-use-title {
        font-family: $noto-serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 60px;
      }

      .how-to-use-sentence {
        display: none;
      }

      .sm-how-to-use-sentence {
        width: calc(100% - 40px);
        line-height: 50px;
        margin-top: 60px;
      }
    }

    .third-section-arrow-wrapper {
      display: none;
    }

    .third-section-how-to-use-image img {
      width: 259px;
      height: 37px;
      margin-top: 60px;
    }
  }

  // 店舗一覧
  .forth-section {
    width: 100%;
    // height: 1748px;
    background-color: white;
    padding-bottom: 150px;
    .forth-section-list-of-stores {
      padding-top: 100px;
      // 店舗一覧タイトル
      .forth-section-stores-title {
        font-family: $noto-serif;
        font-weight: 300;
        font-size: 34px;
        line-height: 40px;
        text-align: center;
        position: relative;
      }

      .forth-section-stores-title::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        top: 120px;
        width: 1px;
        height: 40px;
        margin: auto;
        background-color: $text-gray;
      }
    }
    // 店舗一覧
    .forth-section-stores {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 60px;
      margin-top: 120px;

      .forth-section-store {
        width: calc(100% - 40px);
        height: 356px;
        margin: 0 auto;

        .forth-section-store-image {
          width: 100%;
          height: 242px;
          display: flex;
          justify-content: center;
        }

        .forth-section-store-image img {
          width: 100%;
          // height: 242px;
          object-fit: cover;
        }

        .forth-section-store-infomation {
          width: 100%;
          margin-top: 33px;

          .forth-section-store-name {
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            text-align: center;
          }

          .forth-section-store-address {
            font-size: 14px;
            line-height: 23px;
            margin-top: 12px;
          }
        }
      }
    }

    .forth-section-view-more {
      width: 182px;
      height: 50px;
      margin: 100px auto 0;
      background-color: $back-darkbrown;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $montserrat;
      color: white;
      letter-spacing: 0.1rem;
    }
  }

  // NEWS
  .fifth-section {
    width: 100%;
    height: 969px;
    background-color: $back-beige;

    .fifth-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
      padding-top: 100px;
      text-align: center;
      position: relative;
    }

    .fifth-section-title::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      top: 230px;
      width: 1px;
      height: 40px;
      margin: auto;
      background-color: $text-gray;
    }

    .fifth-section-list-of-news {
      width: 89%;
      margin: 0 auto;
      margin-top: 172px;

      .fifth-section-news {
        width: 100%;
        height: 121px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        border-bottom: 1px solid $line-gray3;
        font-size: 14px;

        .fifth-section-news-date {
          font-family: $montserrat;
          line-height: 17.07px;
          letter-spacing: 0.2rem;
        }

        .fifth-section-news-content {
          line-height: 20.27px;
        }
      }

      .list-of-news {
        border-top: 1px solid $line-gray3;
      }
    }

    .fifth-section-view-more {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 102px;
    }
  }

  // SNS
  .sixth-section {
    width: 100%;
    height: 520px;
    background-color: $back-khaki;
    color: white;

    .sixth-section-follow-message {
      display: none;
    }

    .sm-sixth-section-follow-message {
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 80px;
      padding-bottom: 50px;
    }

    .sixth-sns-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .sixth-sns-button {
        width: 282px;
        height: 50px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $montserrat;
        font-weight: 600;
        line-height: 19.5px;
        letter-spacing: 0.2rem;

        p {
          width: 176.64px;
          height: 20px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .sixth-sns-icon {
          font-size: 26px;
        }
      }
    }
  }
}

:root {
  // ページネーションの現在の色
  --swiper-pagination-color: #a59c84;
  // ページネーション現在以外の色
  --swiper-pagination-bullet-inactive-color: white;
  // ページネーションのbulletのサイズ（なくても良さそう）
  --swiper-pagination-bullet-size: 10px;
  // ページネーションbulletの横幅
  --swiper-pagination-bullet-width: 10px;
  // ページネーションbulletの高さ
  --swiper-pagination-bullet-height: 10px;
  // ページネーションのbulletの透明度
  --swiper-pagination-bullet-inactive-opacity: 1;
}
