@media screen and (min-width: 601px) {
  // ファーストビューの部分
  .top-section {
    width: 100%;
    position: relative;

    .top-logo {
      // width: 200px;
      // background-color: #372711;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 100%;
        height: 100%;
      }
    }

    // ファーストビュー画像
    .first-view-images {
      // 左右に余白
      // width: 1480px;
      // 横100%で表示
      width: calc(100%);
      height: 888px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      // とりあえずの写真
      background-image: url(../images/golferstop-img01.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .first-top-image {
      position: absolute;
      width: 100%;
      height: 733px;
      left: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    // それぞれのスライド画像
    .first-image {
      z-index: 100;
      width: 100%;
      height: 733px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: zoomUP;
      // background-image: url(../images/top-abobe.jpeg);
    }
  }

  // トップ画像下のGOLFERS24紹介部分
  .top-introduction {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #261a0b;

    // padding: 0 100px;
    // margin: 150px 0;

    // 文章部分
    .top-introduction-text {
      color: white;
      font-size: 18px;
      height: 100%;
      width: 73%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 75px 250px 75px 240px;
      // gap: 40px;
      z-index: 20;
      background: linear-gradient(
        90.17deg,
        #261a0b 0.14%,
        #372711 74.4%,
        rgba(56, 39, 16, 0) 99.83%,
        rgba(56, 38, 16, 0) 99.84%
      );
    }

    // .top-introduction-title {
    //   font-family: $noto-serif;
    //   font-size: 40px;
    //   line-height: 70px;
    //   font-weight: 300;
    // }

    .top-introduction-sentence {
      line-height: 50px;
      min-width: 815px;
    }

    .top-introduction-image {
      content: "";
      display: inline-block;
      top: 0;
      right: 0;
      width: 50%;
      height: 440px;
      background-size: cover;
      background: url(../images/top-intro01.png);
      position: absolute;
      opacity: 0.8;
    }
  }

  // GOLFERS24の特徴
  .second-section {
    width: 100%;
    padding-bottom: 80px;
    // height: 4275px;
    background-color: $back-beige;

    .second-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      padding-top: 100px;
      color: $text-gray;
    }

    .sm-second-section-features {
      display: none;
    }

    .second-section-features {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      gap: 20px;
      padding: 0 185px;
      color: $text-black;

      // 特徴
      .feature {
        width: 500px;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;

        .feature-text-wrapper {
          // width: 30%;
          // height: 500px;
          position: relative;
          z-index: 1;

          // 特徴のテキストボックス（奇数）
          .feature-text-box {
            width: 100%;
            // height: 500px;
            // background-color: $back-beige;
            // display: flex;
            // justify-content: center;
            // align-items: flex-start;
            // flex-direction: column;
            // z-index: 300;
            // transform: translateX(80px);

            // 特徴のタイトル
            .feature-title {
              // width: 527px;
              height: 100px;
              font-family: $noto;
              font-size: 26px;
              font-weight: bold;
              line-height: 40px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-end;
              margin-bottom: 20px;
            }

            .feature-sentence {
              // width: 500px;
              line-height: 50px;
              margin-top: 10px;
              font-size: 18px;
              height: 200px;
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
            }
          }
        }

        .feature-image {
          // width: 400px;
          // height: 250px;
          // margin-left: 1.8%;
          // transform: translateX(-80px);

          img {
            width: 500px;
            height: 300px;
            object-fit: cover;
          }
        }
      }

      // 特徴を交互に表示
      // .feature:nth-of-type(even) {
      //   flex-direction: row-reverse;

      //   .feature-text-wrapper {
      //     width: 30%;
      //     height: 500px;
      //     position: relative;
      //     z-index: 1;

      //     // 特徴のテキストボックス（偶数）
      //     .feature-text-box {
      //       width: 100%;
      //       height: 500px;
      //       background-color: $back-beige;
      //       display: flex;
      //       justify-content: center;
      //       align-items: flex-end;
      //       flex-direction: column;
      //       z-index: 300;
      //       // padding-left: 85px;
      //       // transform: translateX(-80px);

      //       // 特徴のタイトル
      //       .feature-title {
      //         width: 100%;
      //         font-family: $noto;
      //         font-size: 26px;
      //         font-weight: 300;
      //         line-height: 40px;
      //       }

      //       .feature-sentence {
      //         width: 100%;
      //         line-height: 50px;
      //         margin-top: 60px;
      //       }
      //     }
      //   }
      //   .feature-image {
      //     width: 38%;
      //     height: 500px;
      //     margin-right: 1.8%;

      //     img {
      //       width: 100%;
      //       height: 500px;
      //       object-fit: cover;
      //     }
      //   }
      // }
    }
  }

  // ご利用の流れ
  .third-section {
    width: 100%;
    height: 342px;
    background: linear-gradient(100.96deg, #a59c84 28.49%, #736755 81.36%);
    display: flex;
    justify-content: center;
    align-items: center;

    .third-section-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .third-section-how-to-use-text {
      color: white;

      .how-to-use-title {
        font-family: $noto-serif;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
      }

      .sm-how-to-use-sentence {
        display: none;
      }

      .how-to-use-sentence {
        font-family: $noto;
        font-size: 23px;
        font-weight: bold;
        line-height: 40px;
        line-height: 50px;
        text-align: center;
      }
    }

    .third-section-how-to-use-image {
      display: none;
    }

    .third-section-arrow-wrapper {
      padding-bottom: 120px;
      width: 342px;
      // padding-left: 20px;
      position: relative;

      p {
        font-weight: 400;
        line-height: 19.5px;
        letter-spacing: 0.1rem;
        color: white;
        transform: translate(20px, 20px);
      }
    }

    // ご利用の流れ・体験予約はこちらボタンの矢印
    // .third-section-how-to-use-arrow {
    //   width: 157px;
    //   height: 20px;
    //   border-bottom: 2px solid white;
    //   border-right: 2.3px solid white;
    //   transform: skew(45deg);
    //   transition: 0.6s;
    //   position: absolute;
    //   left: 697px;
    //   top: 33%;
  }
  // .third-section-how-to-use-arrow:hover {
  //   width: 257px;
  // }

  // ご利用の流れ・体験予約はこちらボタン
  .sm-third-section-how-to-use-button {
    display: none;
  }

  .third-section-how-to-use-button {
    width: 780px;
    height: 100px;
    border-radius: 2px;
    color: white;
    font-family: $noto;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    // background: linear-gradient(to left, $back-darkbrown, #3f3314);
    background-color: #f13529;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 18px;
    position: relative;
    transition: 0.2s;
  }
  .third-section-how-to-use-button:hover {
    opacity: 0.7;
  }

  // 店舗一覧
  .forth-section {
    width: 100%;
    .forth-section-list-of-stores {
      padding-top: 126px;
      // 店舗一覧タイトル
      .forth-section-stores-title {
        font-family: $noto-serif;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        position: relative;
      }

      .forth-section-store-infomation a {
        text-decoration: underline;
      }

      .shops-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        gap: 5%;

        .japan-map {
          width: 30%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    // 店舗一覧
    .forth-section-stores {
      width: 33%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      // margin-top: 178px;

      .forth-section-store {
        height: 60px;

        // .forth-section-store-image img {
        //   width: 334px;
        //   height: 242px;
        // }

        .forth-section-store-name {
          display: flex;
          gap: 2px;
          // height: 45px;
          font-size: 18px;
          font-weight: 700;
          line-height: 23px;
          text-align: center;
        }
      }
    }
  }

  .forth-section-view-more {
    width: 182px;
    height: 50px;
    margin: 26px auto 80px;
    transition: 0.5s;
  }

  .forth-section-view-more:hover {
    opacity: 0.7;
  }

  // NEWS
  .fifth-section {
    // height: 969px;
    padding-bottom: 80px;
    background-color: $back-beige !important;

    .fifth-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 40px;
      line-height: 40px;
      padding-top: 126px;
      text-align: center;
      position: relative;
    }

    .fifth-section-list-of-news {
      width: 63.5%;
      margin: 0 auto;
      margin-top: 70px;

      .fifth-section-news {
        width: 100%;
        height: 96px;
        display: flex;
        align-items: center;
        gap: 94px;
        border-bottom: 2px solid $line-gray3;

        .fifth-section-news-date {
          font-family: $montserrat;
          line-height: 19.5px;
          letter-spacing: 0.2rem;
        }

        .fifth-section-news-content {
          line-height: 23.17px;
          font-size: 22px;
        }
      }

      .list-of-news {
        border-top: 2px solid $line-gray3;
      }
    }

    .fifth-section-view-more {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      transition: 0.5s;
    }

    .fifth-section-view-more:hover {
      opacity: 0.7;
    }
  }

  // SNS
  .sixth-section {
    // height: 288px;
    padding-bottom: 126px;
    background-color: white !important;
    color: $text-black;

    .sixth-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 40px;
      line-height: 40px;
      padding-top: 126px;
      text-align: center;
      position: relative;
    }

    // インスタの写真
    .sbi {
      width: 57.5% !important;
      padding-bottom: 47px !important;

      // #sbi_images {
      //   display: flex;
      //   justify-content: center;
      // }

      .sbi-photo {
        width: 180px !important;
        height: 180px !important;
      }
    }

    .sm-sixth-section-follow-message {
      display: none;
    }

    .sixth-section-follow-message {
      line-height: 50px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 12px;
    }

    .sixth-sns-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 21px;

      .sixth-sns-button {
        width: 282px;
        height: 50px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $montserrat;
        font-weight: 600;
        line-height: 19.5px;
        color: white;
        background-color: $back-darkbeige;

        p {
          width: 176.64px;
          height: 20px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(1px);
        }

        img {
          width: 23px;
          height: 23px;
          transform: translateY(3%);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  // ファーストビューの部分
  .top-section {
    width: 100%;
    position: relative;

    .top-logo {
      // width: 200px;
      // background-color: #372711;
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-17%, -50%);
      img {
        width: 100%;
        height: 100%;
      }
    }

    // ファーストビュー画像
    .first-view-images {
      width: 100%;
      height: 700px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      background-image: url(../images/top-abobe.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .first-top-image {
      position: absolute;
      width: 375px;
      height: 700px;
      top: 0;
      left: 0;
    }

    // それぞれのスライド画像
    .first-image {
      z-index: 10;
      width: 100%;
      height: 700px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  //imgタグだと下に隙間ができるのでblockに。
  .slide-img img {
    display: block;
  }

  // トップ画像下のGOLFERS24紹介部分
  .top-introduction {
    // width: calc(100% - 40px);
    height: 990px;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #261a0b;
    margin: 0 auto;
    position: relative;

    // 文章部分
    .top-introduction-text {
      color: white;
      padding: 0 12px 0;
      // width: 335px;
      height: 900px;
      display: flex;
      z-index: 200;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(
        180deg,
        #261a0b 0.14%,
        #372711 74.4%,
        rgba(56, 39, 16, 0) 99.83%,
        rgba(56, 38, 16, 0) 99.84%
      );
    }

    // .top-introduction-title {
    //   font-family: $noto-serif;
    //   font-size: 30px;
    //   line-height: 60px;
    //   font-weight: 300;
    // }

    .top-introduction-sentence {
      line-height: 40px;
      margin-top: 40px;
      padding: 0 20px;
    }

    .top-introduction-image {
      content: "";
      display: inline-block;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 330px;
      object-fit: cover;
      background-size: cover;
      background: url(../images/top-intro01.png);
      position: absolute;
      opacity: 0.9;
    }
  }

  // GOLFERS24の特徴
  .second-section {
    width: calc(100%);
    height: 100%;
    background-color: $back-beige;

    .second-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      padding-top: 60px;
    }

    .second-section-features {
      display: none;
    }

    .sm-second-section-features {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-black;

      .swiper {
        padding-bottom: 60px;
      }

      // .swiper-slide {
      //   width: 200px;
      //   height: 200px;
      //   background-color: $back-beige2;
      //   position: relative;
      // }

      .swiper-pagination {
        position: absolute;
        top: 588px;
      }

      // Swiperのbulletの間隔
      .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
      .swiper-pagination-horizontal.swiper-pagination-bullets
        .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 14px);
      }

      // 特徴
      .feature {
        width: 100%;
        // height: 535px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: $back-beige;
        margin-top: 30px;

        .feature-text-wrapper {
          width: 100%;

          // 特徴のテキストボックス
          .feature-text-box {
            width: calc(100% - 40px);
            background-color: $back-beige;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            // 特徴のタイトル
            .feature-title {
              height: 60px;
              font-family: $noto-serif;
              font-size: 18px;
              font-weight: 300;
              line-height: 30px;
              text-align: center;
              margin: 0 auto;
            }

            .feature-sentence {
              width: 90%;
              height: 190px;
              font-size: 14px;
              line-height: 23px;
              margin: 0 auto;
              margin-top: 20px;
              display: flex;
              justify-content: center;
              flex-direction: column;
            }
          }
        }

        .feare-image {
          width: calc(100% - 40px);
        }

        .feature-image img {
          width: 335px;
          height: 240px;
          object-fit: cover;
          margin-top: 30px;
        }
      }
    }
  }

  // ご利用の流れ
  .third-section {
    width: 100%;
    background: linear-gradient(100.96deg, #a59c84 28.49%, #736755 81.36%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px 40px;

    .third-section-how-to-use-text {
      margin-top: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;

      .how-to-use-sentence {
        display: none;
      }

      .sm-how-to-use-sentence {
        font-family: $noto;
        font-size: 21px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
      }
    }

    .third-section-arrow-wrapper {
      display: none;
    }

    .third-section-how-to-use-image img {
      width: 259px;
      height: 37px;
      margin-top: 60px;
    }

    // ご利用の流れ・体験予約はこちらボタン
    .third-section-how-to-use-button {
      display: none;
    }

    .sm-third-section-how-to-use-button {
      height: 120px;
      border-radius: 2px;
      color: white;
      font-family: $noto;
      font-weight: bold;
      font-size: 22px;
      line-height: 30px;
      background-color: #f13529;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 31px;
      position: relative;
    }
  }

  // 店舗一覧
  .forth-section {
    // display: none;
    width: 100%;
    // height: 1748px;
    background-color: white;
    padding-bottom: 150px;
    .forth-section-list-of-stores {
      padding-top: 40px;

      .shops-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        gap: 5%;

        .japan-map {
          width: 90%;
          margin: 0 auto;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    // 店舗一覧
    .forth-section-stores {
      width: 87%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 30px;

      .forth-section-store {
        height: 23px;

        // .forth-section-store-image img {
        //   width: 334px;
        //   height: 242px;
        // }

        .forth-section-store-name {
          display: flex;
          gap: 2px;
          // height: 45px;
          font-size: 14px;
          font-weight: 700;
          line-height: 23px;
          text-align: center;
        }
      }
    }

    .forth-section-store-infomation a {
      text-decoration: underline !important;
    }

    // 店舗一覧タイトル
    .forth-section-stores-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      position: relative;
    }
  }

  .forth-section-view-more {
    width: 182px;
    height: 50px;
    margin: 100px auto 0;
    background-color: $back-darkbrown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $montserrat;
    color: white;
    letter-spacing: 0.1rem;
  }

  // NEWS
  .fifth-section {
    width: 100%;
    // height: 969px;
    padding-bottom: 40px;
    background-color: $back-beige;

    .fifth-section-title {
      font-family: $noto-serif;
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
      padding-top: 40px;
      text-align: center;
      position: relative;
    }

    .fifth-section-list-of-news {
      width: 89%;
      margin: 0 auto;
      margin-top: 40px;

      .fifth-section-news {
        width: 100%;
        height: 121px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        border-bottom: 2px solid $line-gray3;
        font-size: 14px;

        .fifth-section-news-date {
          font-family: $montserrat;
          line-height: 17.07px;
          letter-spacing: 0.2rem;
        }

        .fifth-section-news-content {
          line-height: 20.27px;
        }
      }

      .list-of-news {
        border-top: 2px solid $line-gray3;
      }
    }

    .fifth-section-view-more {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 102px;
    }
    // SNS
  }
  .sixth-section {
    // display: none;
    width: 100%;
    // height: 520px;
    padding-bottom: 40px;
    background-color: white;
    color: $text-black;

    .sixth-section-title {
      font-family: $noto-serif;
      font-weight: 400;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
    }

    .sbi {
      width: 57.5% !important;
      padding-bottom: 47px !important;

      // #sbi_images {
      //   display: flex;
      //   justify-content: center;
      // }

      .sbi-photo {
        width: 122px !important;
        height: 122px !important;
      }
    }

    .sixth-section-follow-message {
      display: none;
    }

    .sm-sixth-section-follow-message {
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 50px;
    }

    .sixth-sns-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .sixth-sns-button {
        width: 282px;
        height: 50px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $montserrat;
        font-weight: 600;
        line-height: 19.5px;
        letter-spacing: 0.2rem;
        background-color: $back-khaki;
        color: white;

        p {
          width: 176.64px;
          height: 20px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(1px);
        }

        .sixth-sns-icon {
          font-size: 26px;
        }
      }
    }
  }
}

:root {
  // ページネーションの現在の色
  --swiper-pagination-color: #a59c84;
  // ページネーション現在以外の色
  --swiper-pagination-bullet-inactive-color: white;
  // ページネーションのbulletのサイズ（なくても良さそう）
  --swiper-pagination-bullet-size: 10px;
  // ページネーションbulletの横幅
  --swiper-pagination-bullet-width: 10px;
  // ページネーションbulletの高さ
  --swiper-pagination-bullet-height: 10px;
  // ページネーションのbulletの透明度
  --swiper-pagination-bullet-inactive-opacity: 1;
}
