@media screen and (min-width: 601px) {
  .lp-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    background-color: white;

    .lp-header-logo {
      width: 194px;
      object-fit: cover;
      display: flex;
      align-items: center;
    }

    .lp-header-right {
      display: flex;
      gap: 6px;
    }
  }

  // LPの本体
  .lp-wrapper {
    width: 100%;
    .lp-top {
      // height: 1250px;
      .lp-top-image {
        width: 100%;
        background-image: url(../images/lp-top02.png);
        height: 1200px;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 34px;

        .lp-golfman {
          position: absolute;
          top: 0;
          left: 10%;
          // z-index: 20;
        }

        .lp-top-logo {
          // position: absolute;
          // top: 34px;
          // right: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .lp-top-logo-logo {
          }

          .lp-top-logo-line {
            width: 48%;
          }
        }

        .lp-top-message {
          margin-top: 111px;
          // transform: translateX(-133px);
          position: relative;
          // width: 52%;
          display: flex;

          .fv-copy {
            width: 100%;
            height: 267px;
            object-fit: contain;
            transform: translateX(15%);
          }

          .top-orange {
            transform: translateY(-35%);
            padding-right: 10px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .lp-top-price {
          width: 750px;
          height: 390px;
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 10px;
          outline: 1px solid #f76f00;
          outline-offset: -7px;
          z-index: 20;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transform: translateX(-18.5%);
          padding: 20px 0;

          .lp-top-price-message {
            position: relative;
            margin-bottom: 22px;

            .message {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .lp-top-under {
        width: 100%;
        height: 500px;
        // opacity: 0.8;
        background: linear-gradient(
          180deg,
          rgba(41, 36, 21, 0) 0%,
          #292415 88.54%
        );
        bottom: -6px;
        left: 0;
        position: absolute;
      }

      .lp-top-image-line-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 789px;
        position: absolute;
        bottom: -2%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .lp-second {
      background-color: #292415;
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;

      // 3つのポイント
      .three-points {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .point-title {
          width: 900px;
          font-family: "Toppan Bunkyu Midashi Gothic";
          font-style: normal;
          font-weight: 800;
          font-size: 33px;
          line-height: 50px;
          text-align: center;
          background: linear-gradient(
            90deg,
            #b08920 2.33%,
            #e3b12c 20.64%,
            #fff8b9 52.18%,
            #e3b12c 79.65%,
            #b08920 100%
          );
          background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;

          border-bottom: 2px solid white;
          border-image: linear-gradient(
            90deg,
            #b08920 2.33%,
            #e3b12c 20.64%,
            #fff8b9 52.18%,
            #e3b12c 79.65%,
            #b08920 100%
          );
          border-image-slice: 1;

          span {
            font-size: 50px;
            line-height: 75px;
          }
        }

        .points {
          display: flex;
          justify-content: center;
          gap: 26px;
          margin-top: 46px;
          font-family: "Noto Sans JP";

          .each-point {
            display: flex;
            flex-direction: column;
            width: 283px;
            position: relative;

            .point-top {
              height: 54px;
              background-color: #f76f00;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 5px 5px 0 0;
              color: white;
              font-weight: bold;
            }

            .point-under {
              height: 131px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background: linear-gradient(180deg, #edeae2 0%, #e9dbb5 100%);
              border-radius: 0 0 5px 5px;
              font-size: 16px;
              font-family: "Noto Sans JP";
              line-height: 23.17px;
              color: #292415;

              span {
                font-weight: bold;
                background: linear-gradient(transparent 65%, yellow 100%);
              }
            }

            .point-number {
              position: absolute;
              top: -21px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }

    .lp-third {
      // height: 983px;
      background: linear-gradient(180deg, #483b19 0%, #a59c84 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;

      .lp-third-title {
        padding-top: 32px;
      }

      .lp-third-title::before {
        content: url(../images/uresii-title-left.svg);
        vertical-align: middle;
        margin-right: 12px;
      }
      .lp-third-title::after {
        content: url(../images/uresii-title-right.svg);
        vertical-align: middle;
      }

      .uresii-wrapper {
        width: 900px;
        // height: 744px;
        background-color: #edeae2;
        margin-top: 45px;
        color: #292415;
        padding: 32px 60px;
        position: relative;

        .each-uresii {
          .uresii-title {
            font-family: $noto-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
          }

          .uresii-content {
            font-family: "Noto Sans JP";
            font-size: 16px;
            line-height: 29px;
            margin-top: 15px;
            letter-spacing: 0;
            border-bottom: dashed 1px #a59c84;

            p,
            span {
              border-bottom: dashed 1px #a59c84;
            }

            span:last-child {
              border: none;
            }

            .uresii-yellow {
              background: linear-gradient(transparent 0%, yellow 0%);
            }
          }
        }

        .each-uresii:nth-child(even) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .uresii-title {
            display: flex;
            justify-content: flex-end;
          }

          .uresii-content {
            width: 581px;
          }
        }

        .each-uresii:nth-child(odd) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .uresii-title {
            display: flex;
            justify-content: flex-start;
          }

          .uresii-content {
            width: 581px;
          }
        }

        .each-uresii:nth-child(1) {
          position: relative;
          margin-bottom: 100px;
        }

        .each-uresii:nth-child(1)::after {
          content: "";
          display: inline-block;
          background-image: url(../images/uresii-man01.png);
          width: 172px;
          height: 246px;
          background-size: contain;
          position: absolute;
          right: -30px;
          top: -5px;
        }

        .each-uresii:nth-child(2) {
          position: relative;
          margin-bottom: 70px;
          z-index: 300;
        }

        .each-uresii:nth-child(2)::after {
          content: "";
          display: inline-block;
          background-image: url(../images/uresii-man02.png);
          width: 162px;
          height: 240px;
          background-size: contain;
          position: absolute;
          left: -25px;
          top: -46px;
          z-index: 310;
        }

        .each-uresii:nth-child(3) {
          position: relative;
          z-index: 500;
        }

        .each-uresii:nth-child(3)::after {
          content: "";
          display: inline-block;
          background-image: url(../images/uresii-man03.png);
          width: 227px;
          height: 240px;
          background-size: contain;
          position: absolute;
          right: -30px;
          top: -16px;
          z-index: 400;
        }
      }

      .uresii-wrapper::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 38%;
        width: 100%;
        height: 263px;
        background-color: white;
        transform: skewY(185deg);
        transform-origin: bottom left;
        z-index: 300;
      }

      .uresii-wrapper::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 27.9%;
        width: 26%;
        height: 10%;
        background-color: #edeae2; /* むらさき */
        transform: skewY(185deg);
        transform-origin: bottom left;
        z-index: 331;
      }
    }

    // お悩みありませんか？
    .lp-forth {
      height: 549px;
      background-image: url(../images/nayami1.png);
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;

      .lp-forth-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        font-family: "Toppan Bunkyu Midashi Gothic";

        p {
          display: inline-block;
          color: #292415; /* 文字の色 */
          font-size: 33pt; /* 文字のサイズ */
          line-height: 49.5px;
          text-shadow: 5px 5px 5px #ffffff, -5px 5px 5px #ffffff,
            5px -5px 5px #ffffff, -5px -5px 5px #ffffff, 5px 0px 5px #ffffff,
            0px 5px 5px #ffffff, -5px 0px 5px #ffffff, 0px -5px 5px #ffffff;
        }

        span {
          color: navy;
          font-family: "Noto Sans JP";
          font-weight: bold;
        }

        .big {
          font-size: 50px;
          line-height: 75px;
        }
      }

      .onayami-list {
        color: #333;
        font-family: "Noto Sans JP";
        font-size: 26px;
        line-height: 37.65px;
        margin-top: 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 11px;
        transform: translateX(4%);

        .each-onayami {
          text-shadow: 5px 5px 5px #ffffff, -5px 5px 5px #ffffff,
            5px -5px 5px #ffffff, -5px -5px 5px #ffffff, 5px 0px 5px #ffffff,
            0px 5px 5px #ffffff, -5px 0px 5px #ffffff, 0px -5px 5px #ffffff;
          position: relative;
        }

        .each-onayami::before {
          content: "";
          display: inline-block;
          width: 33px;
          height: 28px;
          background-image: url(../images/onayami-check.svg);
          background-size: contain;
          transform: translate(-5px, 2px);
        }
      }
    }

    // ６つの理由
    .lp-fifth {
      width: 100%;
      background-color: #edeae2;
      position: relative;
      padding-bottom: 80px;

      .lp-between {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .lp-fifth-top-message {
        width: 100%;
        height: 133px;
        font-family: "Toppan Bunkyu Midashi Gothic";
        font-size: 23px;
        line-height: 25.39px;
        font-weight: 800;
        letter-spacing: 2px;
        color: white;
        z-index: 200;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background-color: #292415;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
          font-size: 36px;
          line-height: 43.74px;
          background: linear-gradient(
            90deg,
            #b08920 2.33%,
            #e3b12c 20.64%,
            #fff8b9 52.18%,
            #e3b12c 79.65%,
            #b08920 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .lp-fifth-top-message::after {
        content: "";
        border-right: 100px solid transparent;
        border-bottom: 55px solid #292415;
        border-left: 100px solid transparent;
        // background-color: #292415;
        transform: rotate(180deg);
        position: absolute;
        bottom: -49px;
        left: 45%;
        z-index: -1;
      }

      .six-reasons-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 133px;

        .reason-title {
          // width: 578px;
          padding-top: 100px;
          display: flex;
          justify-content: center;
          position: relative;
          margin: 0 auto;
        }

        .reason-title::after {
          content: url(../images/lp-pc-reason-underline.svg);
          position: absolute;
          bottom: 0;
          right: 0;
        }

        .reasons {
          margin-top: 60px;
          display: grid;
          grid-template-columns: 280px 280px 280px;
          grid-template-rows: 1fr 1fr;
          gap: 36px 30px;
          grid-template-areas:
            ". . ."
            ". . .";

          .each-reason {
            width: 100%;
            background-color: white;
            height: 516px;
            position: relative;
            font-family: "Noto Sans JP";

            .reason-image {
              display: flex;
              justify-content: center;
              padding-top: 5px;
            }

            .each-reason-title {
              color: #292415;
              font-size: 19px;
              line-height: 23px;
              font-weight: bold;
              text-align: center;
              margin-top: 17px;
              margin-bottom: 18px;

              span {
                color: #f76f00;
              }
            }

            .each-reason-content {
              color: #000;
              font-size: 14px;
              line-height: 20px;
              padding: 0 15px;
              letter-spacing: 0;
            }
          }

          .each-reason::after {
            // content: url(../images/reason-ori.svg);
            // position: absolute;
            // bottom: 0;
            // right: 0;
            content: "";
            content: " ";
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            border-width: 0 30px 30px 0;
            border-style: solid;
            width: 0;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            background: #e3e3e3;
            border-color: #fff #edeae2 #cbc3ab #cbc3ab;
          }

          .reason01::before {
            content: url(../images/reason01.svg);
            position: absolute;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason02::before {
            content: url(../images/reason02.svg);
            position: absolute;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason03::before {
            content: url(../images/reason03.svg);
            position: absolute;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason04::before {
            content: url(../images/reason04.svg);
            position: absolute;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason05::before {
            content: url(../images/reason05.svg);
            position: absolute;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason06::before {
            content: url(../images/reason06.svg);
            position: absolute;
            top: 0;
            left: 9px;
            z-index: 20;
          }
        }
      }
    }

    .lp-fifth:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1600px;
      background: linear-gradient(
          180deg,
          #edeae2 0%,
          rgba(237, 234, 226, 0) 100%
        ),
        url(../images/lp-fifth.png);
      // background-image: url(../images/lp-fifth.png);
      background-size: cover;
    }

    // 体験予約の流れ
    .lp-sixth {
      display: flex;
      flex-direction: column;
      align-items: center;
      // height: 1032px;
      background-color: #292415;
      padding-bottom: 95px;

      .lp-sixth-title {
        color: white;
        font-family: "Toppan Bunkyu Midashi Gothic";
        font-size: 40px;
        font-weight: 800;
        line-height: 60px;
        padding-top: 50px;
        margin-bottom: 48px;
      }

      .each-step {
        width: 900px;
        .step-top {
          height: 60px;
          background-color: #f76f00;
          color: white;
          border-radius: 10px 10px 0 0;
          display: flex;
          gap: 33px;
          padding: 20px 0 18px 35px;

          .step-number {
            font-family: Helvetica;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;

            span {
              font-size: 37px;
              line-height: 23px;
            }
          }

          .step-number-text {
            font-family: "Noto Sans JP";
            font-weight: bold;
            font-size: 27px;
            line-height: 23px;
          }
        }

        .step-under {
          height: 221px;
          background-color: white;
          border-radius: 0 0 10px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-family: "Noto Sans JP";
          font-weight: bold;
          font-size: 23px;
          line-height: 33.3px;
        }
      }

      .trial-step-arrow {
        display: flex;
        justify-content: center;
        margin-top: 2px;
        margin-bottom: 21px;
      }

      .trial-step-line-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 789px;
        margin-top: 40px;
      }
    }

    // 生まれた理由
    .lp-seventh {
      height: 420px;
      background-image: url(../images/lp-seventh.png);
      display: flex;
      justify-content: center;
      align-items: center;

      .lp-seventh-message-wrapper {
        width: 900px;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        color: #483b19;
        font-family: $noto-serif;
        font-weight: bold;
        text-align: center;
        padding: 42px 70px;

        .small-message {
          font-size: 21px;
          line-height: 30.18px;
        }

        .big-message {
          font-size: 32px;
          line-height: 45.98px;
          margin-top: 50px;

          span {
            position: relative;
            z-index: 20;
          }

          span::before {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            height: 4px;
            width: 100%;
            background-image: linear-gradient(
              to right,
              transparent,
              yellow 25%,
              yellow 75%,
              transparent
            );
            background-position: center;
            background-repeat: no-repeat;
            z-index: 2;
          }
        }
      }
    }

    // 比較の表
    .lp-eighth {
      background: linear-gradient(180deg, #483b19 0%, #a59c84 100%);
      padding-top: 65px;
      padding-bottom: 80px;

      .lp-eighth-title {
        position: relative;
        color: white;
        text-align: center;
        .top {
          font-family: "Toppan Bunkyu Midashi Gothic";
          font-size: 32px;
          line-height: 48px;
        }

        .under {
          font-family: "Noto Sans JP";
          font-weight: bold;
          font-size: 32px;
          line-height: 46.34px;

          span {
            font-size: 41px;
            line-height: 59.37px;
            color: yellow;
          }
        }
      }

      .lp-eighth-title::before {
        content: "";
        position: absolute;
        background-image: url(../images/lp-table-title-line.svg);
        display: inline-block;
        top: -20px;
        left: 0;
        height: 10px;
        width: 100%;
        background-size: contain;
        background-repeat: repeat;
        transform: rotate(180deg);
      }

      .lp-eighth-title::after {
        content: "";
        position: absolute;
        background-image: url(../images/lp-table-title-line.svg);
        display: inline-block;
        bottom: -20px;
        left: 0;
        height: 10px;
        width: 100%;
        background-size: contain;
        background-repeat: repeat;
      }

      .lp-table {
        display: flex;
        justify-content: center;
        margin-top: 68px;
      }
    }

    .lp-nineth {
      padding: 50px 0 80px;
      display: flex;
      justify-content: center;

      .trial-link-wrapper {
        filter: drop-shadow(0px 0px 34px rgba(0, 0, 0, 0.45));
      }
    }

    .lp-store-list {
      background-color: #edeae2;

      .location-wrapper {
        margin-top: 0;
        padding-top: 80px;

        .location-title {
          display: flex;
          justify-content: center;
          font-family: "Toppan Bunkyu Midashi Gothic";
          font-weight: 800;
          font-size: 42px;
          line-height: 63px;
          color: #483b19;
        }

        .area-name {
          background-color: #483b19;
          color: white;
          border-radius: 5px;
          position: relative;
        }

        .area-name::after {
          content: url(../images/lp-storelist-arrow.svg);
          position: absolute;
          top: 25%;
          right: 24px;
        }

        .area-link {
          border-radius: 5px;
        }

        .store {
          background-color: white;
        }
      }
    }

    // 無料体験のリンク
    .trial-link-wrapper {
      background-color: white;
      margin-top: 80px;
      width: 840px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .trial-link-head {
        position: relative;

        .link-head-title {
          height: 60px;
          position: absolute;
          top: 12%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .trial-link-off {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 780px;
      }

      .trial-link-off-limit {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        width: 780px;
      }

      .trial-link-line {
        width: 789px;
        margin-top: 33px;
      }
    }

    .lp-footer-wrapper {
      footer {
        height: auto;
        display: flex;
        justify-content: center;
        font-family: "Noto Sans JP";
        padding: 60px 0;

        .lp-footer-contents {
          .footer-logo {
            display: flex;
            justify-content: center;
            transform: scale(1.1);
          }

          .footer-company-infomation {
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            margin-top: 30px;
          }

          .footer-links {
            display: flex;
            gap: 34px;
            font-size: 16px;
            margin-top: 60px;
          }
        }
      }
    }
  }

  .sm-br {
    display: none;
  }
}

// SP
@media screen and (max-width: 600px) {
  .lp-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    background-color: white;

    .lp-header-logo {
      width: 116px;
      object-fit: cover;
      display: flex;
      align-items: center;
    }

    .lp-header-right {
      width: 148px;
      display: flex;
      align-items: center;

      .lp-header01 {
        display: none;
      }

      .lp-header02 {
        object-fit: cover;
      }
    }
  }

  .lp-wrapper {
    .lp-top {
      // height: 1250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .lp-top-image {
        width: 100%;
        background-image: url(../images/lp-sp-top01.png);
        height: 718px;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 34px;

        .lp-golfman {
          position: absolute;
          top: 32.5%;
          left: 5%;

          img {
            width: 193px;
            height: 499px;
            object-fit: contain;
          }
          // z-index: 20;
        }

        .lp-top-logo {
          display: none;
          flex-direction: column;
          align-items: flex-end;
        }

        .lp-top-message {
          margin-top: 80px;
          // transform: translateX(-133px);
          position: relative;
          // width: 52%;
          display: flex;
          justify-content: center;

          .fv-copy {
            width: 335px;
            height: 117px;
            object-fit: contain;
          }

          .top-orange {
            position: absolute;
            right: 0;
            bottom: -200%;
            width: 128px;

            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }
        }

        .lp-top-price {
          display: none;
          .lp-top-price-message {
            position: relative;
            margin-bottom: 22px;

            .message {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .sm-lp-top-price {
          width: 335px;
          margin-top: 240px;
          z-index: 20;
        }
      }

      .lp-top-under {
        width: 100%;
        height: 375px;
        // opacity: 0.8;
        background: linear-gradient(
          180deg,
          rgba(41, 36, 21, 0) 0%,
          #292415 88.54%
        );
        bottom: -120px;
        left: 0;
        position: absolute;
      }

      .lp-top-image-line-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 335px;
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .lp-second {
      background-color: #292415;
      padding-top: 115px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;

      // 3つのポイント
      .three-points {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .point-title {
          display: none;
        }

        .sm-point-title {
          letter-spacing: 0;
          width: 335px;
          font-family: "Toppan Bunkyu Midashi Gothic";
          font-style: normal;
          font-weight: 800;
          font-size: 30px;
          line-height: 45px;
          text-align: center;
          background: linear-gradient(
            90deg,
            #b08920 2.33%,
            #e3b12c 20.64%,
            #fff8b9 52.18%,
            #e3b12c 79.65%,
            #b08920 100%
          );
          background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;

          border-bottom: 2px solid white;
          border-image: linear-gradient(
            90deg,
            #b08920 2.33%,
            #e3b12c 20.64%,
            #fff8b9 52.18%,
            #e3b12c 79.65%,
            #b08920 100%
          );
          border-image-slice: 1;

          span {
            font-size: 50px;
            line-height: 75px;
          }
        }

        .points {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 35px;
          margin-top: 46px;
          font-family: "Noto Sans JP";

          .each-point {
            display: flex;
            flex-direction: column;
            width: 283px;
            position: relative;

            .point-top {
              height: 54px;
              background-color: #f76f00;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 5px 5px 0 0;
              color: white;
              font-weight: bold;
            }

            .point-under {
              height: 131px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background: linear-gradient(180deg, #edeae2 0%, #e9dbb5 100%);
              border-radius: 0 0 5px 5px;
              font-size: 16px;
              font-family: "Noto Sans JP";
              line-height: 23.17px;
              color: #292415;

              span {
                font-weight: bold;
                background: linear-gradient(transparent 65%, yellow 100%);
              }
            }

            .point-number {
              position: absolute;
              top: -21px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }

    .lp-third {
      // height: 983px;
      background: linear-gradient(180deg, #483b19 0%, #a59c84 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;

      .lp-third-title {
        display: none;
      }

      .sm-lp-third-title {
        padding-top: 32px;
      }

      .lp-third-title::before {
        content: url(../images/uresii-title-left.svg);
        vertical-align: middle;
        margin-right: 12px;
      }
      .lp-third-title::after {
        content: url(../images/uresii-title-right.svg);
        vertical-align: middle;
      }

      .uresii-wrapper {
        width: 335px;
        background-color: #edeae2;
        margin-top: 45px;
        color: #292415;
        padding: 24px 20px 65px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.45);

        .each-uresii {
          .uresii-title {
            width: 192px;
            font-family: $noto-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;
          }

          .uresii-content {
            font-family: "Noto Sans JP";
            width: 295px;
            font-size: 16px;
            line-height: 29px;
            margin-top: 83px;
            letter-spacing: 0;
            border-bottom: dashed 1px #a59c84;

            p,
            span {
              border-bottom: dashed 1px #a59c84;
            }

            span:last-child {
              border: none;
            }

            .uresii-yellow {
              background: linear-gradient(transparent 0%, yellow 0%);
            }
          }
        }

        .each-uresii:nth-child(even) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .uresii-title {
            display: flex;
            justify-content: flex-end;
          }
        }

        .each-uresii:nth-child(odd) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .uresii-title {
            display: flex;
            justify-content: flex-start;
          }
        }

        .each-uresii:nth-child(1) {
          position: relative;
          margin-bottom: 30px;

          .uresii-content {
            width: 292px;
          }
        }

        .each-uresii:nth-child(1)::after {
          content: "";
          display: inline-block;
          background-image: url(../images/uresii-man01.png);
          width: 119px;
          height: 170px;
          background-size: contain;
          position: absolute;
          right: -6px;
          top: -5px;
        }

        .each-uresii:nth-child(2) {
          position: relative;
          margin-bottom: 40px;
          z-index: 300;
        }

        .each-uresii:nth-child(2)::after {
          content: "";
          display: inline-block;
          background-image: url(../images/uresii-man02.png);
          width: 118px;
          height: 170px;
          background-size: contain;
          position: absolute;
          left: -4px;
          top: -5px;
          z-index: 310;
        }

        .each-uresii:nth-child(3) {
          position: relative;
          z-index: 500;

          .uresii-content {
            margin-top: 126px;
          }
        }

        .each-uresii:nth-child(3)::after {
          content: "";
          display: inline-block;
          background-image: url(../images/uresii-man03.png);
          width: 161.2px;
          height: 170px;
          background-size: contain;
          position: absolute;
          right: 0px;
          top: 5px;
          z-index: 400;
        }
      }

      .uresii-wrapper::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 44%;
        width: 100%;
        height: 400px;
        background-color: white;
        transform: skewY(10deg);
        transform-origin: bottom left;
        z-index: 00;
      }

      .uresii-wrapper::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 27.9%;
        width: 26%;
        height: 10%;
        background-color: #edeae2; /* むらさき */
        transform: skewY(185deg);
        transform-origin: bottom left;
        z-index: 331;
      }
    }

    .lp-forth {
      height: 729px;
      background-image: url(../images/nayami2.png);
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .lp-forth-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        font-family: "Toppan Bunkyu Midashi Gothic";

        p {
          display: inline-block;
          color: #292415; /* 文字の色 */

          text-shadow: 5px 5px 5px #ffffff, -5px 5px 5px #ffffff,
            5px -5px 5px #ffffff, -5px -5px 5px #ffffff, 5px 0px 5px #ffffff,
            0px 5px 5px #ffffff, -5px 0px 5px #ffffff, 0px -5px 5px #ffffff;
        }

        span {
          color: navy;
          font-family: "Noto Sans JP";
          font-weight: bold;
          font-size: 26px;
          line-height: 37.65px;
        }

        .small {
          font-size: 23px; /* 文字のサイズ */
          line-height: 34.5px;
        }

        .big {
          font-size: 26px;
          line-height: 39px;
        }
      }

      .onayami-list {
        display: none;
      }
      .sm-onayami-list {
        position: relative;
        color: #333;
        font-family: "Noto Sans JP";
        font-size: 20px;
        line-height: 22px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 27px;
        padding: 0 20px;

        .each-onayami {
          text-shadow: 5px 5px 5px #ffffff, -5px 5px 5px #ffffff,
            5px -5px 5px #ffffff, -5px -5px 5px #ffffff, 5px 0px 5px #ffffff,
            0px 5px 5px #ffffff, -5px 0px 5px #ffffff, 0px -5px 5px #ffffff;
          position: relative;
          display: flex;
          gap: 5px;

          img {
            width: 30px;
            height: 25px;
          }
        }
      }
      .onayami-lady {
        position: absolute;
        bottom: 0;
        left: 9%;

        img {
          width: 222px;
          height: 292px;
          object-fit: contain;
        }
      }
    }

    // ６つの理由
    .lp-fifth {
      width: 100%;
      background-color: #edeae2;
      position: relative;
      padding-bottom: 80px;

      .lp-between {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .lp-fifth-top-message {
        width: 100%;
        height: 140px;
        font-family: "Toppan Bunkyu Midashi Gothic";
        font-size: 18px;
        line-height: 26.39px;
        font-weight: 800;
        letter-spacing: 2px;
        color: white;
        z-index: 200;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background-color: #292415;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
          font-size: 35px;
          line-height: 39px;
          background: linear-gradient(
            90deg,
            #b08920 2.33%,
            #e3b12c 20.64%,
            #fff8b9 52.18%,
            #e3b12c 79.65%,
            #b08920 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .lp-fifth-top-message::after {
        content: "";
        border-right: 75px solid transparent;
        border-bottom: 55px solid #292415;
        border-left: 75px solid transparent;
        // background-color: #292415;
        transform: rotate(180deg);
        position: absolute;
        bottom: -34px;
        left: 30%;
        z-index: -1;
      }

      .six-reasons-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 144px;

        .reason-title {
          display: none;
        }
        .sm-reason-title {
          // width: 578px;
          padding-top: 37px;
          display: flex;
          justify-content: center;
          position: relative;
          margin: 0 auto;
        }

        .sm-reason-title::after {
          content: url(../images/lp-sm-reason-underline.svg);
          position: absolute;
          bottom: -18px;
        }

        .reasons {
          margin-top: 60px;
          display: grid;
          grid-template-columns: 160px 160px;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 27px 20px;
          grid-template-areas:
            ". ."
            ". ."
            ". .";

          .each-reason {
            width: 100%;
            background-color: white;
            height: 462px;
            position: relative;
            font-family: "Noto Sans JP";

            .reason-image {
              display: flex;
              justify-content: center;
              padding: 5px 5px 0;
            }

            .each-reason-title {
              color: #292415;
              font-size: 14px;
              line-height: 20px;
              font-weight: bold;
              text-align: center;
              margin-top: 17px;
              margin-bottom: 18px;

              span {
                color: #f76f00;
              }
            }

            .each-reason-content {
              color: #000;
              font-size: 11px;
              line-height: 17px;
              padding: 0 8px;
              letter-spacing: 0;
            }
          }

          .each-reason::after {
            content: "";
            display: block;
            position: absolute;
            right: 3px;
            bottom: -4px;
            border-width: 0 18px 25px 0;
            border-style: solid;
            width: 0;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            background: #e3e3e3;
            border-color: #fff #edeae2 #cbc3ab #cbc3ab;
          }

          .reason01::before {
            content: "";
            position: absolute;
            background-image: url(../images/reason01.svg);
            width: 50px;
            height: 50px;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason02::before {
            content: "";
            position: absolute;
            background-image: url(../images/reason02.svg);
            width: 50px;
            height: 50px;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason03::before {
            content: "";
            position: absolute;
            background-image: url(../images/reason03.svg);
            width: 50px;
            height: 50px;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason04::before {
            content: "";
            position: absolute;
            background-image: url(../images/reason04.svg);
            width: 50px;
            height: 50px;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason05::before {
            content: "";
            position: absolute;
            background-image: url(../images/reason05.svg);
            width: 50px;
            height: 50px;
            top: 0;
            left: 9px;
            z-index: 20;
          }
          .reason06::before {
            content: "";
            position: absolute;
            background-image: url(../images/reason06.svg);
            width: 50px;
            height: 50px;
            top: 0;
            left: 9px;
            z-index: 20;
          }
        }
      }
    }

    .lp-fifth:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 880px;
      background: linear-gradient(
          180deg,
          #edeae2 0%,
          rgba(237, 234, 226, 0) 100%
        ),
        url(../images/lp-fifth.png);
      // background-image: url(../images/lp-fifth.png);
      background-size: cover;
    }

    .lp-sixth,
    .lp-seventh,
    .lp-eighth,
    .lp-nineth,
    .lp-store-list,
    .lp-questions-list,
    .lp-footer-wrapper {
      display: none;
    }
  }

  .trial-link-wrapper {
    display: none;
  }

  .sm-trial-link-wrapper {
    background-color: white;
    margin-top: 80px;
    width: 335px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .trial-link-head {
      position: relative;

      .link-head-title {
        height: 60px;
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .trial-link-off {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      width: 295px;
    }

    .trial-link-off-limit {
      display: flex;
      justify-content: center;
      margin-top: 19px;
      width: 295px;
    }

    .trial-link-line {
      width: 295px;
      margin-top: 18px;
    }
  }
}
