@media screen and (min-width: 601px) {
  .news-wrapper {
    width: 1166px;
    margin: 0 auto;
    margin-top: 252px;
    position: relative;

    .page-title {
      font-family: $montserrat;
      color: transparent;
      font-size: 120px;
      font-weight: 400;
      line-height: 40px;
      -webkit-text-stroke: 1px $text-beige;
      position: absolute;
      top: -90px;
      left: -19%;
    }

    .news-title {
      font-weight: 300;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.2rem;
      font-family: $noto-serif;
    }

    // ニュース全体
    .news-list {
      width: 100%;
      margin-top: 142px;
      margin-bottom: 200px;

      .news-list-wrapper {
        border-top: 1px solid $line-gray2;
      }

      // 1つ1つのニュース
      .sm-news {
        display: none;
      }

      .news {
        border-bottom: 1px solid $line-gray2;
        display: flex;
        align-items: center;
        padding: 40px 0;

        // ニュースの日付
        .news-date {
          font-family: $montserrat;
          line-height: 19.5px;
          letter-spacing: 0.2rem;
        }

        // ニュースのタグ
        .news-tag {
          width: 82px;
          height: 31px;
          font-family: $montserrat;
          font-size: 14px;
          font-weight: 700;
          line-height: 17.07px;
          letter-spacing: 0.2rem;
          color: white;
          background-color: $back-darkbrown;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 42px;
          margin-right: 60px;
        }

        .news-content {
          line-height: 23.17px;
        }
      }
    }
  }
  .pnavi {
    // width: 345.43px;
    height: 20px;
    font-family: $montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 60px;
    gap: 20px;

    .page-numbers {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .prev {
      width: 11.43px;
      height: 20px;
      background-image: url(../images/naviarrow-prev.svg);
      margin-right: 74px;
      background-position: center;
    }

    .next {
      width: 11.43px;
      height: 20px;
      background-image: url(../images/naviarrow-next.svg);
      margin-left: 74px;
      background-position: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .news-wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 163px;

    .page-title {
      font-family: $montserrat;
      color: transparent;
      font-size: 60px;
      font-weight: 400;
      line-height: 40px;
      -webkit-text-stroke: 1px $text-beige;
    }

    .news-title {
      font-weight: 300;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0.2rem;
      font-family: $noto-serif;
      margin-top: 20px;
    }

    // ニュース全体
    .news-list {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 77px;

      // 1つ1つのニュース
      .news {
        display: none;
      }

      .news-list-wrapper {
        border-top: 1px solid $line-gray2;
      }

      .sm-news {
        width: 100%;
        height: 147px;
        border-bottom: 1px solid $line-gray2;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        // ニュースの日付
        .news-date {
          font-family: $montserrat;
          font-size: 14px;
          line-height: 17.07px;
          letter-spacing: 0.2rem;
          margin-top: 29px;
        }

        // ニュースのタグ
        .news-tag {
          width: 66px;
          height: 22px;
          font-family: $montserrat;
          font-size: 12px;
          font-weight: 700;
          line-height: 14.63px;
          letter-spacing: 0.2rem;
          color: white;
          background-color: $back-darkbrown;
          display: flex;
          padding-left: 3px;
          justify-content: center;
          align-items: center;
        }

        .news-content {
          font-size: 14px;
          line-height: 20.27px;
          margin-top: 13px;
        }
      }

      .sm-news {
        border-bottom: 1px solid $line-gray2;
      }
    }
  }
  .pnavi {
    // width: 345.43px;
    height: 20px;
    font-family: $montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 60px;
    gap: 20px;

    .page-numbers {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .prev {
      width: 11.43px;
      height: 20px;
      background-image: url(../images/naviarrow-prev.svg);
      margin-right: 74px;
      background-position: center;
    }

    .next {
      width: 11.43px;
      height: 20px;
      background-image: url(../images/naviarrow-next.svg);
      padding-left: 74px;
      background-position: center;
    }
  }
}
