@media screen and (min-width: 601px) {
  .page-title {
    font-family: $montserrat;
    color: transparent;
    font-size: 120px;
    font-weight: 400;
    line-height: 40px;
    -webkit-text-stroke: 1px $text-beige;
    position: absolute;
    top: -90px;
    left: -19%;
  }

  .questions-wrapper {
    width: 1116px;
    margin: 0 auto;
    margin-top: 152px;
    position: relative;

    .questions-title {
      font-weight: 300;
      font-size: 50px;
      line-height: 40px;
      letter-spacing: 0.2rem;
      font-family: $noto-serif;
    }

    .questions-contents-wrapper {
      width: 100%;
      margin: 150px auto;

      .questions-contents-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 52.13px;
        color: $back-beige2;
        margin-bottom: 60px;
        margin-top: 150px;
      }

      .questions-contents-title:first-child {
        margin-top: 0;
      }

      .question-content {
        .question-q {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $text-gray;
          padding-bottom: 33px;

          .question-q-text {
            font-size: 23px;
            line-height: 33.2px;
            margin-left: 37px;
          }
        }

        .question-a {
          display: flex;
          align-items: center;
          margin-top: 40px;
          margin-bottom: 60px;

          .question-a-text {
            font-size: 15px;
            line-height: 40px;
            margin-left: 37px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  // よくある質問
  .questions-wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 163px;

    // Q&A
    .page-title {
      font-family: $montserrat;
      color: transparent;
      font-size: 46px;
      font-weight: 400;
      line-height: 40px;
      -webkit-text-stroke: 1px $text-beige;
    }

    .questions-title {
      font-weight: 300;
      font-size: 26px;
      line-height: 37px;
      font-family: $noto-serif;
      margin-top: 18px;
    }

    // 質問の中身
    .questions-contents-wrapper {
      width: 100%;
      margin: 75px 0 150px;

      // 質問のセクションタイトル
      .questions-contents-title {
        font-size: 23px;
        font-weight: 700;
        line-height: 33.3px;
        color: $back-beige2;
        margin-bottom: 60px;
        margin-top: 110px;
      }

      .questions-contents-title:first-child {
        margin-top: 0;
      }

      .question-content {
        // 質問
        .question-q {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $text-gray;
          padding-bottom: 33px;

          // 質問の内容
          .question-q-text {
            font-size: 20px;
            line-height: 33.2px;
            margin-left: 20px;
          }
        }

        // 回答
        .question-a {
          display: flex;
          align-items: center;
          margin-top: 40px;
          margin-bottom: 60px;

          .question-a-text {
            font-size: 14px;
            line-height: 30px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
