@media screen and (min-width: 601px) {
  .sm-store-details-wrapper {
    display: none;
  }

  .store-details-wrapper {
    width: 1118px;
    margin: 0 auto;
    padding-bottom: 150px;

    // 店舗詳細のトップ画像
    .store-details-top-image {
      width: 100%;
      height: 490px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(./images/top-img01.png);
    }

    // 店舗詳細情報
    .store-detail-introduction {
      width: 1118px;
      height: 566px;
      margin: 150px auto 200px;

      .store-introduction-text {
        text-align: center;

        .store-introduction-name {
          font-size: 36px;
          font-weight: 700;
          line-height: 52.13px;
        }

        .store-introduction-sentence {
          width: 680px;
          line-height: 50px;
          margin: 0 auto;
          margin-top: 60px;
        }
      }

      .store-detail-images {
        width: 1118px;
        margin-top: 60px;
        display: grid;
        grid-template-rows: 244px;
        // 列の幅
        grid-template-columns: 334px 334px 334px;
        // 空間 横
        gap: 58px;
      }
    }

    // Googleマップ
    .google-map {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // 店舗詳細情報
    .store-detail-information {
      width: 428px;
      margin-top: 73px;

      // 店舗名
      .store-detail-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
      }

      // 店舗住所
      .store-detail-address {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        gap: 39px;
        margin-top: 12px;

        .store-detail-address-title {
          width: 56px;
        }
      }

      // 店舗番号
      .store-detail-tel {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        margin-top: 23px;
        gap: 39px;

        .store-detail-tel-title {
          width: 56px;
        }
      }

      // 店舗メールアドレス
      .store-detail-mail {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        gap: 39px;

        .store-detail-mail-title {
          width: 56px;
        }
      }

      // 店舗営業時間
      .store-detail-hours {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        gap: 39px;

        .store-detail-hours-title {
          width: 56px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .store-details-wrapper {
    display: none;
  }

  .sm-store-details-wrapper {
    width: 375px;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 150px;

    .store-introduction-name {
      font-family: $noto-serif;
      font-size: 36px;
      font-weight: 300;
      line-height: 51.73px;
      text-align: center;
    }

    // 店舗詳細のトップ画像
    .store-details-top-image {
      width: 375px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(./images/top-img01.png);
      margin-top: 48px;
      background-position: center;
    }

    // 店舗詳細情報
    .store-detail-introduction {
      width: 375px;
      // height: 250px;
      margin: 0 auto;

      .store-introduction-sentence {
        width: 335px;
        font-size: 14px;
        line-height: 50px;
        margin: 0 auto;
        margin-top: 40px;
      }

      .store-detail-images {
        width: 100%;
        margin-top: 100px;
        overflow: hidden;

        img {
          width: 250px;
          height: 200px;
        }
      }
    }

    // Googleマップ
    .google-map {
      width: 335px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 150px;
    }

    // 店舗詳細情報
    .store-detail-information {
      width: 335px;
      margin: 0 auto;
      margin-top: 70px;

      // 店舗名
      .store-detail-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
      }

      // 店舗住所
      .store-detail-address {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        gap: 39px;
        margin-top: 12px;

        .store-detail-address-title {
          width: 56px;
        }
      }

      // 店舗番号
      .store-detail-tel {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        margin-top: 23px;
        gap: 39px;

        .store-detail-tel-title {
          width: 56px;
        }
      }

      // 店舗メールアドレス
      .store-detail-mail {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        gap: 39px;

        .store-detail-mail-title {
          width: 56px;
        }
      }

      // 店舗営業時間
      .store-detail-hours {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        gap: 39px;

        .store-detail-hours-title {
          width: 56px;
        }
      }
    }
  }
}
