@media screen and (min-width: 601px) {
  .sm-store-details-wrapper {
    display: none;
  }

  .store-details-wrapper {
    margin: 0 auto;
    padding-bottom: 150px;

    // 店舗詳細のトップ画像
    .store-details-top-image {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 490px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../images/top-img01.png);
      display: none;

      img {
        width: 100%;
        height: 490px;
        object-fit: cover;
      }
    }

    // 店舗詳細情報
    .store-detail-introduction {
      width: 75%;
      // height: 566px;
      margin: 100px auto 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .store-introduction-text {
        .store-introduction-name {
          font-size: 36px;
          font-weight: 400;
          line-height: 51.3px;
          font-family: $noto-serif;
          text-align: center;
        }

        .store-introduction-sentence {
          width: 910px;
          line-height: 1.8;
          margin: 0 auto;
          margin-top: 50px;
          // font-size: 16px;
        }
      }

      .store-detail-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto 82px;
        gap: 30px;

        .how-to-line-link {
          width: 455px;
          height: 60px;
          border-radius: 2px;
          box-shadow: 0 2px #088c3e;
          background-color: #06c755;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .how-to-webreserve-link {
          width: 455px;
          height: 60px;
          box-shadow: 0 2px #9d1007;
          background-color: #f13529;
          display: none;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .store-detail-images {
      // margin-top: 100px;
      display: grid;
      grid-template-rows: 244px;
      // 列の幅
      grid-template-columns: 334px 334px 334px;
      // 空間 横
      gap: 58px;

      .store-detail-image img {
        width: 335px;
        height: 242px;
        object-fit: cover;
      }
    }
  }

  // Googleマップ
  .google-map {
    width: 1119px;
    height: 513px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    iframe {
      width: 1119px;
      height: 513px;
    }
  }

  // 店舗詳細情報
  .store-detail-information-wrapper {
    width: 1119px;
    height: 173px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 73px;

    .store-detail-information {
      // width: 600px;
      // 店舗名
      .store-detail-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
      }

      // 店舗住所
      .store-detail-address {
        // font-size: 14px;
        line-height: 33px;
        display: flex;
        align-items: flex-start;
        gap: 39px;
        margin-top: 12px;

        .store-detail-address-title {
          width: 100px;
        }
      }

      // 店舗番号
      .store-detail-tel {
        // font-size: 14px;
        line-height: 33px;
        display: flex;
        align-items: center;
        gap: 39px;

        .store-detail-tel-title {
          width: 100px;
        }
      }

      // 店舗メールアドレス
      .store-detail-mail {
        // font-size: 14px;
        line-height: 33px;
        display: flex;
        align-items: center;
        gap: 39px;

        .store-detail-mail-title {
          width: 100px;
        }
      }

      // 店舗営業時間
      .store-detail-hours {
        // font-size: 14px;
        line-height: 33px;
        display: flex;
        align-items: center;
        gap: 39px;

        .store-deail-hours-title {
          width: 100px;
        }
      }
    }
  }

  .hour-plan {
    width: 1166px;
    margin: 0 auto;
    margin-top: 150px;
    // position: relative;
    margin: 0 auto;

    .page-title {
      font-family: $montserrat;
      color: transparent;
      font-size: 50px;
      font-weight: 400;
      line-height: 38px;
      -webkit-text-stroke: 1px $text-beige;
      display: none;
    }

    .how-title {
      font-weight: 300;
      font-size: 36px;
      line-height: 51.73px;
      font-family: $noto-serif;
      display: flex;
      justify-content: center;
    }

    .hour-table {
      margin-top: 100px;
      margin-bottom: 180px;

      .plan-title {
        font-weight: 300;
        font-size: 28px;
        line-height: 40px;
        font-family: $noto-serif;
        margin-top: 110px;
        margin-bottom: 40px;
      }

      .plan-title:first-of-type {
        margin-top: 0px;
      }

      table {
        width: 1117px;
        height: 748px;
        font-size: 18px;
        padding: 0 60px;

        .play-hours {
          text-align: left;
        }

        th {
          height: 78px;
          background-color: $back-darkbrown;
          color: white;
          text-align: left;
        }

        th:nth-of-type(1) {
          padding-left: 60px;
          width: 42%;
        }

        th:nth-of-type(2) {
          padding: 0;
          width: 32%;
          padding-left: 50px;
        }

        th:nth-of-type(3) {
          padding-right: 60px;
          width: 26%;
        }

        td {
          height: 103px;
          border-bottom: 1px solid $text-black;
        }

        td:nth-of-type(1) {
          padding-left: 60px;
        }

        td:nth-of-type(2) {
          // padding-left: 30px;
        }

        td:nth-of-type(3) {
          padding-right: 60px;
        }

        th:last-child,
        td:last-child {
          text-align: right;
        }

        .night-week {
          padding-left: 59px;
        }

        .table-premium {
          height: 156px;
          background-color: $back-beige;

          // おすすめ
          .premium-plan::before {
            content: "";
            background-image: url("../images/おすすめ.svg");
            display: inline-block;
            width: 66px;
            height: 22px;
            background-size: contain;
            margin-right: 10px;
            margin-bottom: 3px;
          }

          // 年間契約で割引
          // .premium-plan::after {
          //   content: "";
          //   background-image: url("../images/年間契約.svg");
          //   display: inline-block;
          //   width: 116px;
          //   height: 25px;
          //   background-size: contain;
          //   margin-left: 10px;
          //   margin-bottom: 3px;
          // }

          // 20％オフ
          // .premium-discount:before {
          //   content: "";
          //   background-image: url("../images/premiumoff.svg");
          //   display: inline-block;
          //   width: 66px;
          //   height: 66px;
          //   background-size: contain;
          //   margin-right: 18px;
          //   margin-bottom: 2px;
          // }
        }

        .allday::before {
          content: "";
          background-image: url("../images/24hours.svg");
          display: inline-block;
          width: 31px;
          height: 31px;
          background-size: contain;
          margin-right: 28px;
          margin-bottom: 2px;
        }

        .night-allday::before {
          content: "";
          background-image: url("../images/24hours.svg");
          display: inline-block;
          width: 31px;
          height: 31px;
          background-size: contain;
          margin-right: 28px;
          margin-bottom: 2px;
          transform: translateY(12px);
        }

        .day::before {
          content: "";
          background-image: url("../images/dayhours.svg");
          display: inline-block;
          width: 31px;
          height: 31px;
          background-size: contain;
          margin-right: 28px;
          margin-bottom: 2px;
        }

        .night::before {
          content: "";
          background-image: url("../images/nighthours.svg");
          display: inline-block;
          width: 31px;
          height: 31px;
          background-size: contain;
          margin-right: 28px;
          margin-bottom: 2px;
        }

        .midnight::before {
          content: "";
          background-image: url("../images/midnight.svg");
          display: inline-block;
          width: 31px;
          height: 31px;
          background-size: contain;
          margin-right: 28px;
          margin-bottom: 2px;
        }
        .morning::before {
          content: "";
          background-image: url("../images/morning.svg");
          display: inline-block;
          width: 31px;
          height: 31px;
          background-size: contain;
          margin-right: 28px;
          margin-bottom: 2px;
        }
        .weekday::before {
          content: "";
          background-image: url("../images/weekday.svg");
          display: inline-block;
          width: 31px;
          height: 31px;
          background-size: contain;
          margin-right: 28px;
          margin-bottom: 2px;
        }
      }
      .mobile-table-caution {
        display: none;
      }

      .table-caution {
        font-size: 16px;
        line-height: 20.27px;
        text-align: justify;
        margin-top: 20px;

        p {
          letter-spacing: 4px;
        }
      }
    }

    .hour-table-scrollbar-thumb {
      background: #ffe6ea;
      background-color: red;
    }
  }
}

@media screen and (max-width: 600px) {
  .store-details-wrapper {
    display: none;
  }

  .sm-store-details-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 80px;

    .store-introduction-name {
      font-family: $noto-serif;
      font-size: 36px;
      font-weight: 300;
      line-height: 51.73px;
      text-align: center;
    }

    // 店舗詳細のトップ画像
    .store-details-top-image {
      display: none;
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(./images/top-img01.png);
      margin-top: 48px;
      background-position: center;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    // 店舗詳細情報
    .store-detail-introduction {
      width: 100%;
      // height: 250px;
      margin: 0 auto;

      .store-introduction-sentence {
        width: calc(100% - 40px);
        font-size: 14px;
        line-height: 40px;
        margin: 0 auto;
        margin-top: 40px;
      }

      .store-detail-images {
        width: 100%;
        margin-top: 100px;
        overflow: hidden;

        .store-detail-image {
          width: 250px;
          height: 200px;

          img {
            width: 250px;
            height: 200px;
            object-fit: cover;
          }
        }
      }
    }

    // Googleマップ
    .google-map {
      width: 335px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 150px;
      min-width: 335px !important;

      iframe {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 335px !important;
        height: 300px;
        // object-fit: cover;
      }
    }

    // 店舗詳細情報
    .store-detail-information {
      width: 335px;
      margin: 0 auto;
      margin-top: 70px;

      // 店舗名
      .store-detail-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
      }

      // 店舗住所
      .store-detail-address {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: flex-start;
        gap: 34px;
        margin-top: 12px;

        .store-detail-address-title {
          width: 85px;
        }
      }

      // 店舗電話番号
      .store-detail-tel {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        // margin-top: 23px;
        // gap: 39px;

        .store-detail-tel-title {
          width: 85px;
        }
      }

      // 店舗メールアドレス
      .store-detail-mail {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        // gap: 39px;

        .store-detail-mail-title {
          width: 85px;
        }
      }

      // 店舗営業時間
      .store-detail-hours {
        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        // gap: 39px;

        .store-deail-hours-title {
          width: 85px;
        }
      }
    }
  }

  .hour-plan {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 0px;

    .page-title {
      font-family: $montserrat;
      color: transparent;
      font-size: 50px;
      font-weight: 400;
      line-height: 38px;
      -webkit-text-stroke: 1px $text-beige;
      display: none;
    }

    .how-title {
      font-weight: 300;
      font-size: 28px;
      line-height: 40px;
      font-family: $noto-serif;
      margin-top: 20px;
    }

    .hour-table {
      margin-top: 60px;
      margin-bottom: 100px;
      // overflow-x: auto;
      white-space: nowrap;
      scrollbar-color: black yellow;

      .plan-title {
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        font-family: $noto-serif;
        margin-top: 100px;
      }

      .plan-title:first-of-type {
        margin-top: 0px;
      }

      .times-table {
        // width: 345px;
      }

      table {
        width: 100%;
        font-size: 10px;
        margin: 0 auto;

        .play-hours {
          width: 175px;
          padding-left: 35px;
        }

        th {
          height: 30px;
          background-color: $back-darkbrown;
          color: white;
          text-align: left;
          padding: 0 13px;
        }

        td {
          height: 46px;
          border-bottom: 1px solid $text-black;
          padding: 0 5%;
        }

        th:last-child,
        td:last-child {
          text-align: right;
        }

        .table-premium {
          height: 60px;
          background-color: $back-beige;

          // おすすめ
          .premium-plan::before {
            content: "";
            background-image: url("../images/おすすめ.svg");
            display: inline-block;
            width: 33px;
            height: 11px;
            background-size: contain;
            margin-right: 5px;
          }
        }

        .night-week {
          padding-left: 24px;
        }

        .allday::before {
          content: "";
          background-image: url("../images/24hours.svg");
          display: inline-block;
          width: 16px;
          height: 15px;
          background-size: contain;
          margin-right: 8px;
          margin-bottom: 2px;
        }

        .night-allday::before {
          content: "";
          background-image: url("../images/24hours.svg");
          display: inline-block;
          width: 16px;
          height: 16px;
          background-size: contain;
          margin-right: 8px;
          transform: translateY(4px);
        }

        .day::before {
          content: "";
          background-image: url("../images/dayhours.svg");
          display: inline-block;
          width: 16px;
          height: 15px;
          background-size: contain;
          margin-right: 8px;
          margin-bottom: 2px;
        }

        .night::before {
          content: "";
          background-image: url("../images/nighthours.svg");
          display: inline-block;
          width: 16px;
          height: 15px;
          background-size: contain;
          margin-right: 8px;
          margin-bottom: 2px;
        }

        .midnight::before {
          content: "";
          background-image: url("../images/midnight.svg");
          display: inline-block;
          width: 16px;
          height: 15px;
          background-size: contain;
          margin-right: 8px;
          margin-bottom: 2px;
        }

        .morning::before {
          content: "";
          background-image: url("../images/morning.svg");
          display: inline-block;
          width: 16px;
          height: 15px;
          background-size: contain;
          margin-right: 8px;
          margin-bottom: 2px;
        }

        .weekday::before {
          content: "";
          background-image: url("../images/weekday.svg");
          display: inline-block;
          width: 16px;
          height: 15px;
          background-size: contain;
          margin-right: 8px;
          // transform: translateY(1px);
        }
      }
    }

    .hour-table-scrollbar-thumb {
      background: #ffe6ea;
      background-color: red;
    }

    .table-caution {
      display: none;
    }

    .mobile-table-caution {
      font-size: 12px;
      line-height: 20.27px;
      text-align: justify;
      margin-top: 24px;
      white-space: normal;
    }

    .sm-arrorw {
      margin-top: 30px;
      width: 250px;
      height: 20px;
      border-bottom: 3px solid #0d130e;
      border-right: 5px solid #86b78b;
      border-bottom: 3px dashed $back-darkbrown;
      border-right: 5px dotted $back-darkbrown;
      border-bottom: 3px solid $text-black;
      border-right: 5px solid $text-black;
      transform: skew(55deg);
    }
  }
}
